/* Make clicks pass-through */
#mprogress {
  pointer-events: none;
}

#mprogress .deter-bar,
#mprogress .indeter-bar {
  position: fixed;
  z-index: 1032;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;

  background: #3a81f0;
}

#mprogress .bar-bg,
#mprogress .buffer-bg,
#mprogress .mp-ui-dashed {
    position: fixed;
    top:0;
    left:0;
    z-index: 1031;

    width: 100%;
    height: 5px;
    background-color: #b0d0ef;

}

#mprogress .mp-ui-dashed {
    z-index: 1030;
    background-color:transparent;
}

#mprogress .mp-ui-dashed:before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    margin-top: 0px;
    position: absolute;
    background: radial-gradient(rgb(169, 192, 233) 0%, rgb(169, 192, 233) 16%, transparent 42%);
    background-size: 10px 10px !important;
    background-position: 0px -23px;

    -webkit-animation: buffer 3s infinite linear;

}
#mprogress .active.mp-ui-dashed:before {
    -webkit-animation: bufferGo 12s infinite linear;
}
/* Fancy blur effect */
#mprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3a81f0, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
     -moz-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
.mprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.mprogress-custom-parent #mprogress .deter-bar {
  position: absolute;
}

#mprogress .indeter-bar {
    -webkit-animation: indeterminate1 5s infinite linear;
            animation: indeterminate1 5s infinite linear;
}
@-webkit-keyframes indeterminate1 {
/* one */
  0% {
    -webkit-transform: translateX(-100%) scaleX(0.8);
            transform: translateX(-100%) scaleX(0.8); }

  12% {
    -webkit-transform: translateX(40%) scaleX(0.8);
            transform: translateX(40%) scaleX(0.8); }

  22% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

  22.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* two */
  23% {
    -webkit-transform: translateX(-100%) scaleX(0.5);
            transform: translateX(-100%) scaleX(0.5); }

  40% {
    -webkit-transform: translateX(100%) scaleX(0.5);
            transform: translateX(100%) scaleX(0.5); }
  40.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* three */
  41% {
    -webkit-transform: translateX(-100%) scaleX(0.7);
            transform: translateX(-100%) scaleX(0.7); }

  50% {
    -webkit-transform: translateX(40%) scaleX(0.7);
            transform: translateX(40%) scaleX(0.7); }

  59% {
    -webkit-transform: translateX(100%) scaleX(0.7);
            transform: translateX(100%) scaleX(0.7); }

  59.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* four */
  60% {
    -webkit-transform: translateX(-100%) scaleX(0.4);
            transform: translateX(-100%) scaleX(0.4); }
     

  76% {
    -webkit-transform: translateX(100%) scaleX(0.4);
            transform: translateX(100%) scaleX(0.4); }
  
  76.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* five */
  77% {
    -webkit-transform: translateX(-100%) scaleX(0.6);
            transform: translateX(-100%) scaleX(0.6); }

  88% {
    -webkit-transform: translateX(40%) scaleX(0.6);
            transform: translateX(40%) scaleX(0.6); }
  99% {
    -webkit-transform: translateX(100%) scaleX(0.6);
            transform: translateX(100%) scaleX(0.6); }

  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); } }

@keyframes indeterminate1 {
/* one */
  0% {
    -webkit-transform: translateX(-100%) scaleX(0.8);
            transform: translateX(-100%) scaleX(0.8); }

  12% {
    -webkit-transform: translateX(40%) scaleX(0.8);
            transform: translateX(40%) scaleX(0.8); }

  22% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

  22.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* two */
  23% {
    -webkit-transform: translateX(-100%) scaleX(0.5);
            transform: translateX(-100%) scaleX(0.5); }

  40% {
    -webkit-transform: translateX(100%) scaleX(0.5);
            transform: translateX(100%) scaleX(0.5); }
  40.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* three */
  41% {
    -webkit-transform: translateX(-100%) scaleX(0.7);
            transform: translateX(-100%) scaleX(0.7); }

  50% {
    -webkit-transform: translateX(40%) scaleX(0.7);
            transform: translateX(40%) scaleX(0.7); }

  59% {
    -webkit-transform: translateX(100%) scaleX(0.7);
            transform: translateX(100%) scaleX(0.7); }

  59.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* four */
  60% {
    -webkit-transform: translateX(-100%) scaleX(0.4);
            transform: translateX(-100%) scaleX(0.4); }
     

  76% {
    -webkit-transform: translateX(100%) scaleX(0.4);
            transform: translateX(100%) scaleX(0.4); }
  
  76.99% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
/* five */
  77% {
    -webkit-transform: translateX(-100%) scaleX(0.6);
            transform: translateX(-100%) scaleX(0.6); }

  88% {
    -webkit-transform: translateX(40%) scaleX(0.6);
            transform: translateX(40%) scaleX(0.6); }
  99% {
    -webkit-transform: translateX(100%) scaleX(0.6);
            transform: translateX(100%) scaleX(0.6); }

  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); } }


@-webkit-keyframes bufferGo {
  0% {
    opacity: 1;
    background-position: -200px -23px; }

  20% {
    opacity: 1;
    background-position: 0px -23px; }  

  40% {
    opacity: 1;
    background-position: -200px -23px; }

  50% {
    opacity: 0; }

  60% {
    opacity: 1;
    background-position: -400px -23px; }

  70% {
    opacity: 0; }

  80% {
    opacity: 1;
    background-position: -600px -23px; }
  90% {
    opacity: 0; }

  100% {
    opacity: 1;
    background-position: -800px -23px; }
}

@-webkit-keyframes buffer {
  0% {
    opacity: 1;
    background-position: 0px -23px; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1;
    background-position: -200px -23px; }
 }


